@media screen and (max-width: 500px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        background: #555555;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .nav * {
        z-index: 2;
    }

    .nav-links {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        background: #555555;
        padding-top: 40px;
        font-size: 18px;
        font-weight: 200;
        min-width: 200px;
        grid-area: nav;
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    background: #555555;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 200;
    min-width: 200px;
}

.nav svg {
    color: #cccccc;
    z-index: 3;
}

.nav-link {
    text-decoration: none;
    color: #cccccc;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-link:hover {
    color: white;
}

.nav-open {
    transform: rotate(90deg);
    transition: linear .2s;
    padding: 0;
    margin: 0;
}

.nav-close {
    transform: rotate(0deg);
    transition: linear .2s;
    padding: 0;
    margin: 0;
}

.nav-odots svg {
    height: 12px;
    width: auto;
    padding: 0 10px;
}

.active {
    background: #999999;
    color: white;
}