.dot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  background: white;
  border-bottom: 1px solid black;
}

.dot:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.dot-task {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.dot-add {
  width: 30px;
  height: auto;
}

.dot-title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
}

.dot-title input {
  height: 80%;
  width: auto;
  font-size: 20px;
}

.dot-title input::placeholder {
  width: auto;
  height: 80%;
  color: black;
  font-size: 20px;
}

.dot-line::placeholder {
  text-decoration: line-through;
}

.slide-container {
  position: relative;
}

.slide-background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.slide-background svg {
  color: white;
  height: 100%;
  width: auto;
}