.odots {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 10px 0; 
  box-sizing: border-box;
}

.odot {
  height: 100%;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 0 10px;
  background: white;
  box-sizing: border-box;
}

.odot:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

.odot-header {
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333333;
}

.odot-logo {
  height: 40px;
  width: auto;
}

.odot-title {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-size: 30px;
}

.odot-title::placeholder {
  color: #333333;
}

.odot-trash {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.odot-content {
  height: 85%;
  background: #444444;
}