.odots {
  display: flex;
  height: 100%;
  overflow-x: visible;
}

.odot {
  height: 100%;
  width: 300px;
  border-radius: 10px;
  margin: 0 10px;
  background: white;
  box-sizing: border-box;
}

.odot:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.odot-header {
  height: 20%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333333;
}

.odot-logo {
  height: 40px;
  width: auto;
}

.odot-title {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-size: 20px;
}

.odot-title::placeholder {
  color: #333333;
}

.odot-trash {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.odot-content {
  height: 80%;
}