.odots {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding: 10px 0; 
  box-sizing: border-box;
}

.odot {
  height: 100%;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 0 10px;
  background: white;
  box-sizing: border-box;
}

.odot:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

.odot-header {
  height: 15%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333333;
  border-radius: 10px 10px 0 0;
}

.odot-logo {
  height: 40px;
  width: auto;
}

.odot-title {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-size: 30px;
  background: transparent;
}

.odot-title::placeholder {
  color: #333333;
}

.odot-trash {
  height: 30px;
  width: auto;
  cursor: pointer;
}

.odot-content {
  height: 85%;
  background: #555555;
  border-radius: 10px;
}

.new-odot {
  background: #555555;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 0 10px;
  background: white;
  box-sizing: border-box;
}

.new-odot svg {
  width: 100px;
  height: auto;
  color: white;
}

.card-container {
  height: 100%;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  margin: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.card-container div {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.front {
  background: #555555;
}

.back {
  background: #555555;
}

.front svg {
  color: white;
  height: 100px;
  width: auto;
}

.new-odot-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.new-odot-title {
  height: 40px;
  width: 200px;
  background: #555555;
  color: white;
  font-size: 24px;
  margin-top: 100px;
}

.new-odot-title::placeholder {
  color: white;
  font-size: 24px;
}

.new-odot-details {
  height: 20px;
  width: 200px;
  background: #555555;
  color: white;
  font-size: 16px;
  margin-bottom: 100px;
}

.new-odot-details::placeholder {
  color: white;
  font-size: 16px;
}

.new-odot-form button {
  background: transparent;
}

.check {
  height: 40px;
  width: auto;
  color: lightgreen;
}

.check:hover {
  color: lime;
}

.x {
  height: 40px;
  width: auto;
  color: #333333;
}

.x:hover {
  color: orangered;
}